<section class="contact section" id="contact">
  <h2 class="section__title" i18n="@@contact">Contácto</h2>
  <span class="section__subtitle"></span>

  <div class="contact__container container grid">
    <div>
      <div>
        <div class="contact__information">
          <i class="ri-mail-line contact__icon"></i>
          <div>
            <h3 class="contact__title" i18n="@@iSendYouEmail">te envio un correo</h3>
            <span class="contact__subtitle" i18n="@@brevity">A la brevedad posible</span>
          </div>
        </div>
      </div>
      <div>
        <div class="contact__information">
          <i class="ri-map-pin-line contact__icon"></i>
          <div>
            <h3 class="contact__title" i18n="@@location">Localidad</h3>
            <span class="contact__subtitle" i18n="@@address">Peru - lima - lince</span>
          </div>
        </div>
      </div>
    </div>
    <form
      (submit)="sendContact(contactForm)"
      #contactForm="ngForm"
      name="contact-form"
      class="contact__form grid"
      method="POST"
      data-netlify="true"
    >
      <input type="hidden" name="form-name" value="contact-form" />
      <div class="contact__inputs grid">
        <div class="contact__content">
          <label class="contact__label" i18n="@@nameFormContact">Nombre</label>
          <input type="text" class="contact__input" name="name" [(ngModel)]="name" required />
          <div *ngIf="contactForm.controls['name'].invalid && (contactForm.controls['name'].dirty || contactForm.controls['name'].touched)">
            <span class="error-message" i18n="@@nameRequired">Nombre es requerido</span>
         </div>
        </div>
        <div class="contact__content">
          <label class="contact__label" i18n="@@email">Email</label>
          <input type="email" class="contact__input" name="email" [(ngModel)]="email" required email/>
          <div *ngIf="contactForm.controls['email'].invalid && (contactForm.controls['email'].dirty || contactForm.controls['email'].touched)">
            <span class="error-message" i18n="@@emailRequired">Correo electrónico es requerido y debe ser válido</span>
         </div>
        </div>
      </div>
      <div class="contact__content">
        <label class="contact__label" i18n="@@projectFormContact">Proyecto</label>
        <input type="text" class="contact__input" name="project"  [(ngModel)]="project" />
      </div>
      <div class="contact__content">
        <label class="contact__label" i18n="@@messageFormContact">Mensaje</label>
        <textarea
          name="message"
          id=""
          cols="0"
          rows="7"
          class="contact__input"
          [(ngModel)]="message"
          required
        ></textarea>
        <div *ngIf="contactForm.controls['message'].invalid && (contactForm.controls['message'].dirty || contactForm.controls['message'].touched)">
          <span class="error-message" i18n="@@messageRequired">Mensaje es requerido</span>
       </div>
      </div>
      <div>
        <button type="submit" class="button button--flex" i18n="@@buttonContact">Contáctame</button>
      </div>
    </form>
  </div>
</section>
