<!-- portfolio.component.html -->

<section class="portfolio section" id="portfolio">
    <h2 class="section__title" i18n="@@slidesName">Portafolio</h2>
    <span class="section__subtitle"></span>
  
    <div class="portfolio__container container swiper-container">
      <swiper [config]="config">
        <ng-container *ngFor="let slide of slides; let i = index">
          <ng-template swiperSlide>
            <div class="portfolio__content grid swiper-slide">
              <img [src]="slide.image" alt="" class="portfolio__img">
  
              <div class="portfolio__data">
                <h3 class="portfolio__title">{{ getTranslatedTitle(slide) }}</h3>
                <p class="portfolio__description">{{ getTranslatedDescription(slide)}}</p>
                <a [href]="slide.link" target="_blank" class="button button--flex button--smal portfolio__button" i18n="@@slideButton">
                  Ir a la web
                  <i class="ri-arrow-right-line button__icon"></i>
                </a>
              </div>
            </div>
          </ng-template>
        </ng-container>


      </swiper>
  
              <!-- add arrow -->
      <!--<div class="swiper-button-next">
        <i class="ri-arrow-right-s-line swiper-portfolio-icon"></i>
      </div>
      <div class="swiper-button-prev">
        <i class="ri-arrow-left-s-line swiper-portfolio-icon"></i>
      </div>-->
  
      <!-- add pagination 
      <div class="swiper-pagination"></div>-->
    </div>
  </section>
  