<section class="about section">
    <h2 class="section__title">Servicios</h2>


    <div class="container-service">
        <div class="card__container">
           <article class="card__article">
              <div class="card__scale-1"></div>
              <div class="card__scale-2"></div>
    
              <div class="card__shape-1">
                 <div class="card__shape-2"></div>
                 <div class="card__shape-3">
                    <i class="ri-macbook-line card__icon"></i>
                 </div>
              </div>
    
              <div class="card__data">
                 <h2 class="card__title">Diseño Web</h2>
                 
                 <p class="card__description">
                  Planificamos tu web a la medida cumpliendo tus necesidades.
                 </p>
    
                 <a href="#" class="card__button">
                    Continue learning
                 </a>
              </div>
           </article>
    
           <article class="card__article card__orange">
              <div class="card__scale-1"></div>
              <div class="card__scale-2"></div>
    
              <div class="card__shape-1">
                 <div class="card__shape-2"></div>
                 <div class="card__shape-3">
                    <i class="ri-shopping-cart-line card__icon"></i>
                 </div>
              </div>
    
              <div class="card__data">
                 <h2 class="card__title">eCommerce</h2>
    
                 <p class="card__description">
                  Has que tus clientes compren productos o servicios a través de tu pagina web
                 </p>
    
                 <a href="#" class="card__button">
                    Continue learning
                 </a>
              </div>
           </article>
    
           <article class="card__article card__green">
              <div class="card__scale-1"></div>
              <div class="card__scale-2"></div>
    
              <div class="card__shape-1">
                 <div class="card__shape-2"></div>
                 <div class="card__shape-3">
                  <i class="ri-palette-line card__icon"></i>
                 </div>
              </div>
    
              <div class="card__data">
                 <h2 class="card__title">Diseño Grafico</h2>
    
                 <p class="card__description">
                    
Creamos tu logo personalizado para que se adapte a tu visión y tengas una web ganadora y se diferencie de tu compentencia
                 </p>
    
                 <a href="#" class="card__button">
                    Continue learning
                 </a>
              </div>
           </article>
        </div>
     </div>

</section>

