<section class="about section" id="services">
  <h2 class="section__title">Servicios</h2>

  <div class="container-service">
    <div class="card__container">
      <article class="card__article">
        <div class="card__scale-1"></div>
        <div class="card__scale-2"></div>

        <div class="card__shape-1">
          <div class="card__shape-2"></div>
          <div class="card__shape-3">
            <i class="ri-macbook-line card__icon"></i>
          </div>
        </div>

        <div class="card__data">
          <h2 class="card__title">Proyectos Web</h2>

          <p class="card__description">
            Diseñamos sitios a medida para cumplir con tus objetivos y necesidades específicas, reflejando tu visión única.
          </p>

          <a href="#" class="card__button"> Explorar más </a>
        </div>
      </article>

      <article class="card__article card__orange">
        <div class="card__scale-1"></div>
        <div class="card__scale-2"></div>

        <div class="card__shape-1">
          <div class="card__shape-2"></div>
          <div class="card__shape-3">
            <i class="ri-file-chart-line card__icon"></i>
            
          </div>
        </div>

        <div class="card__data">
          <h2 class="card__title">Gestión de Proyectos</h2>

          <p class="card__description">
            Desde la planificación hasta la entrega final, gestionamos tu proyecto con asignación eficiente de recursos, seguimiento de plazos y comunicación continua para asegurar su éxito.
          </p>

          <a href="#" class="card__button"> Explorar más </a>
        </div>
      </article>

      <article class="card__article card__green">
        <div class="card__scale-1"></div>
        <div class="card__scale-2"></div>

        <div class="card__shape-1">
          <div class="card__shape-2"></div>
          <div class="card__shape-3">
            <i class="ri-building-4-line card__icon"></i>
          </div>
        </div>

        <div class="card__data">
          <h2 class="card__title">Diseño de Arquitectura</h2>

          <p class="card__description">
            Creamos arquitecturas sólidas para tus proyectos, garantizando rendimiento óptimo, escalabilidad y máxima seguridad.
          </p>

          <a href="#" class="card__button"> Explorar más</a>
        </div>
      </article>
    </div>
  </div>
</section>
