<section class="about section" id="about">
    <h2 class="section__title" i18n="@@aboutTitle">Sobre Mi</h2>
    <span class="section__subtitle" i18n="@@aboutSubtitle"></span>
    <div class="about__container container grid">
        <img src="./assets/img/Diagram.svg" alt="" class="about__img">
        <div class="about__data">
            <p class="about__description" i18n="@@aboutDescription">
                Mi pasión por la planificación de proyectos web, enfocados en las necesidades de las personas, me ha llevado a trabajar en servicios que incluyen reservas, pasarelas de pago, envío masivo de mensajería, ecommerce y landing pages. Mi principal motivación es enriquecer la experiencia del usuario mediante soluciones tecnológicas seguras y de alto rendimiento.
            </p>
            <div class="about_buttons">
                <a [download]="" [href]="getPdfUrl()" class="button button--flex" i18n="@@downloadCV">
                    Descarga mi CV
                </a>
            </div>
        </div>
    </div>
</section>