.global__icon{
    padding: 0 1rem 0 0;
}

/*.nav__menu-language{
    position: fixed;
    bottom: 100%;
    left: 0;
    width: 50%;
    background-color:var(--navbar-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: .3s;
}*/

.nav__menu-language {
    position: fixed;
    top: 0; /* Change from 100% */
    right: 0; /* Add this line */
    width: 50%;
    background-color: var(--navbar-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: .3s;
    transform: translateY(-100%); /* Change from translateX to translateY */
}

.show-menu {
    transform: translateY(0); /* Change from translateX to translateY */
}

.nav__close-language{
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}
.nav__close-language:hover{
    color: var(--first-color-alt);
}

/*.show-menu{
    bottom: 0;
}*/
