.global__icon{
    padding: 0 1rem 0 0;
}

.nav__menu-language {
    position: fixed;
    top: 0;
    right: 0; 
    width: 100px;
    height: 200px;
    background-color: var(--navbar-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
    border-radius: 0 0 1.5rem 1.5rem;
    transition: .3s;
    transform: translateY(-100%); 
}

@media screen and (max-width: 767px) {
    .nav__menu-language {
        top: auto; 
        bottom: 0; 
        right: 0;
        transform: translateY(100%); 
        border-radius: 1.5rem 1.5rem 0 0;
    }
}

.show-menu {
    transform: translateY(0);
}

.nav__close-language{
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}
.nav__close-language:hover{
    color: var(--first-color-alt);
}

.nav__list-lenguage{
    grid-template-columns: repeat(1,1fr);
    gap: 2rem;
}
