    <!--==================== HOME ====================-->
    <section class="home section" id="home">
        <div class="home__container container grid">
            <div class="home__content grid">
                <div class="home__social">
                    <!--<a href="https://www.linkedin.com/in/jose-zambrano-velasquez-512146212/" target="_blank"
                        class="home__social-icon">
                        <i class="ri-linkedin-fill"></i>
                    </a>
                    <a href="https://twitter.com/SUMERMULLEN" target="_blank" class="home__social-icon">
                        <i class="ri-twitter-line"></i>
                    </a>
                    <a href="https://github.com/joseyzambranov" target="_blank" class="home__social-icon">
                        <i class="ri-github-line"></i>
                    </a>-->
                </div>
                <div class="home__img">
                    <img src="../../../assets/img/Ellipse-2.png" alt="">
                </div>

                <div class="home__data">
                    <h1 class="home__subtitle-hello">Hola, mi nombre es</h1>
                    <h3 class="home__title-name">Jose Zambrano </h3>
                    <p class="home__description">soy programador y quiero ayudarte a hacer realidad tus ideas</p>
                    <!--<a href="#contact" class="button button--flex">
                        Hablemos de tu idea >>
                        <i class="ri-send-plane-fill button_icon"> </i>
                    </a>-->
                    <span class=" button--flex   home__button">
                        Hablemos de tu idea
                        <i class="uil uil-angle-double-right button__icon"></i>
                    </span>
                </div>
            </div>

            <!--<div class="home__scroll">
                <a href="#about" class="home__scroll-button button--flex">
                    <i class="ri-mouse-line home__scroll-mouse"></i>
                    <span class="home__scroll-name">desplazate hacia abajo</span>
                    <i class="ri-arrow-down-line home__scroll-arrow"></i>
                </a>
            </div>-->
        </div>
    </section>