.home{
    background: linear-gradient(92deg, #000716 19.49%, rgba(0, 7, 22, 0.00) 295.7%);
}

.home__subtitle-hello{
    font-size: var(--h1-font-size);
    color: var(--container-color);
    font-weight: var(--font-medium);
}

.home__title-name{
    font-size: var(--big-font-size);
    color: var(--green-color);
}

.home__description{
    margin-bottom: var(--mb-2);
    color: var(--container-color);
}